body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: hsl(233, 47%, 7%);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
}

.text {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 50px;
  background-color: hsl(244, 38%, 16%);
  border-radius: 15px 0 0 15px;
}


.mobile-img {
  display: none;
}


main .text h1 {
  font-family: 'Inter', sans-serif;
  width: 350px;
  color: hsl(0, 0%, 100%);
  font-size: 30px;
}

main .text h1 span {
  color: hsl(277, 64%, 61%);
}


main .text p {
  font-family: 'Lexend Deca', sans-serif;
  width: 350px;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 14px;
}

.sub {
  width: 300px;
  display: grid;
  grid-template-columns: 20px 20px 20px;
  justify-content: space-between;
}

.sub div {
  display: flex;
  flex-direction: column;
  width: 100px;
  justify-content: center;
}

.sub div h2 {
  text-align: center;
  color: hsl(0, 0%, 100%);
  margin: 70px auto 5px;
  letter-spacing: 3px;
  font-family: 'Lexend Deca', sans-serif;
}

.sub div p {
  width: 100px;
  text-align: center;
  color: hsla(0, 0%, 100%, 0.6);
  margin: 0;
}


.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0 15px 15px 0;
}

.img {
  position: relative;
}

.img::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsla(277, 64%, 61%, 40%);
  border-radius: 0 15px 15px 0;
}

footer { 
  font-size: 16px; 
  text-align: center;
  color: hsl(277, 64%, 61%);
  font-family: 'Lexend Deca', sans-serif;
  letter-spacing: 3px;
}
footer a { 
  color: hsl(0, 0%, 100%); 
  text-decoration: none;
}

footer a:hover {
  color: hsla(0, 0%, 100%, 0.6);
  text-decoration: overline;
}

@media (max-width: 800px) {
  body {
    padding: 50px 20px;
  }


  main {
    grid-template-columns: 1fr;
    width: 90%;
  }

  .img {
    display: none;
  }

  .mobile-img {
    display: block;
    width: 100%;
    position: relative;
  }

  .mobile-img::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsla(277, 64%, 61%, 40%);
    border-radius: 15px 15px 0 0;
  }

  .mobile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  .text {
    border-radius: 0 0 15px 15px;
    align-items: center;
    padding: 0;
    padding: 20px;
  }

  main .text h1 {
    width: 250px;
    text-align: center;
  }

  main .text p {
    width: 250px;
    text-align: center;
  }

  .sub {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .sub div {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
  }

  footer {
    width: 200px;
    font-size: 10px;
    line-height: 2;
    letter-spacing: 1px;
  }

  
}